<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Flavors of India</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="nav">
          <img src="./images/logo.png" alt="" class="nav-logo" />
          <div class="nav-links">
            <a href="/" class="nav-link active">Home</a>
            <% if (isAuth) { %>
            <a href="/orderHistory" class="nav-link">Order History</a>
            <%} %>
            <a href="/menu" class="nav-link">Menu</a>
            <a href="/faq" class="nav-link">FAQ</a>
            <a href="/reservation" class="nav-link active">Reservation</a>
            <% if (!isAuth) { %>
            <a href="/login" class="nav-link">Login</a>
            <%} else { %>
            <a href="/api/logout" class="nav-link">Logout</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <main class="main">
        <section>
          <h1>Welcome to Flavors of India!</h1>
          <h1>About the Restaurant</h1>
          <p>Flavors of India is a vibrant and inviting restaurant that
            showcases the rich and diverse cuisine of India. Located in
            the heart of the city, our restaurant offers an authentic
            dining experience with a menu that features an array of
            traditional and contemporary Indian dishes. With an emphasis
            on using fresh, high-quality ingredients and a commitment
            to excellent service, Flavors of India promises to deliver an
            unforgettable culinary journey for all our guests. Whether you
            are looking for a casual lunch with colleagues or a romantic
            dinner with your significant other, our warm and welcoming
            atmosphere and mouth-watering dishes are sure to leave you
            satisfied and craving for more.</p>
        </section>
  
        <section>
          <h2>Contact Us</h2>
          <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
  
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea><br>
  
            <input type="submit" value="Submit">
          </form>
        </section>
      </main>
    </div>

    <div class="footer">
      <div class="container">
        <p>@2023 Flavors of India, all rights reserved ©.</p>
      </div>
    </div>
  </body>
</html>
