<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu - Flavors of India</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/menu.css" />
    <script src="./js/menu.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="nav">
          <img src="./images/logo.png" alt="" class="nav-logo" />
          <div class="nav-links">
            <a href="/" class="nav-link">Home</a>
            <% if (isAuth) { %>
            <a href="/orderHistory" class="nav-link">Order History</a>
            <%} %>
            <a href="/menu" class="nav-link active">Menu</a>
            <a href="/faq" class="nav-link">FAQ</a>
            <a href="/reservation" class="nav-link active">Reservation</a>
            <% if (!isAuth) { %>
            <a href="/login" class="nav-link">Login</a>
            <%} else { %>
            <a href="/api/logout" class="nav-link">Logout</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <main class="main">
        <h1 class="title">Menu</h1>
        <div class="menu-layout">
          <div id="items">
            <!-- <div class="item">
              <img
                src="https://vaya.in/recipes/wp-content/uploads/2018/03/Ambur-Chicken-Biriyani.jpg"
              />
              <div>
                <h2></h2>
                <h4>$15</h4>
                <p>
                  A spiced mix of chicken and rice, traditionally cooked over an open fire in a leather pot.
                </p>
                <button>Add</button>
              </div>
            </div> -->
            <div class="loader-container">
              <div class="loader"></div>
            </div>
          </div>
          <!-- End of items -->

          <div class="orders">
            <h2 class="title">Order</h2>
            <div class="order-list" id="orders">
              <!-- <div class="order-item">
                <p>Chicken Biriyani</p>
                <div>
                  <button>-</button>
                  <button>+</button>
                  <span>1</span>
                  <span>*</span>
                  <span>200</span>
                  <span>=</span>
                  <span>200</span>
                </div>
              </div> -->
            </div>

            <div class="order-summary">
              <textarea
                id="comment"
                placeholder="Typo your comments/suggesstions"
                class="order-textarea"
              ></textarea>
              <div class="order-total">
                <p id="total">Total: 400</p>
                <button id="order-btn" class="btn-primary">Place Order</button>
              </div>
            </div>
          </div>
          <!-- End of orders -->
        </div>
      </main>
    </div>

    <div class="footer">
      <div class="container">
        <p>@2023 Flavors of India, all rights reserved ©.</p>
      </div>
    </div>
  </body>
</html>
