<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Details - Flavors of India</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/reservation.css" />
    <script src="./js/reservation.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav">
                <img src="./images/logo.png" alt="" class="nav-logo" />
                <div class="nav-links">
                    <a href="/" class="nav-link">Home</a>
                    <% if (isAuth) { %>
                        <a href="/orderHistory" class="nav-link">Order History</a>
                        <%} %>
                            <a href="/menu" class="nav-link">Menu</a>
                            <a href="/faq" class="nav-link">FAQ</a>
                            <a href="/reservation" class="nav-link active">Reservation</a>
                            <% if (!isAuth) { %>
                                <a href="/login" class="nav-link">Login</a>
                                <%} else { %>
                                    <a href="/api/logout" class="nav-link">Logout</a>
                                    <% } %>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <main class="main">
            <div>
                <h2>Make a Reservation</h2>
                <form id="reservation-form">
                    <div>
                        <label for="time">Time:</label>
                        <input type="text" id="time" name="time" required>
                    </div>
                    <div>
                        <label for="noOfPersons">Number of Persons:</label>
                        <input type="number" id="noOfPersons" name="noOfPersons" min="1" max="10" required>
                    </div>
                    <div>
                        <label for="phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    </div>
                    <div>
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" required>
                    </div>
                    <button type="submit" id="submit-reservation">Make Reservation</button>
                </form>
            </div>
            <div>
                <h2>Reservations</h2>
                <ul id="reservations-list"></ul>
            </div>

        </main>
    </div>

    <div class="footer">
        <div class="container">
            <p>@2023 Flavors of India, all rights reserved ©.</p>
        </div>
    </div>
</body>

</html>